# ARYA GAWAS
# PRN : 202401100002
# Roll No :Cs5-02
## Dataset : - Sales(Dmart Sales)

In [5]:
import numpy as np 
import pandas as pd
df = pd.read_csv('Dmart.csv')
df

,Order ID,Customer Name,Category,Sub Category,City,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,South,749,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,West,2360,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,South,896,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,South,2355,0.26,918.45,Tamil Nadu
5,OD6,Adavan,Food Grains,Organic Staples,Dharmapuri,West,2305,0.26,322.70,Tamil Nadu
6,OD7,Jonas,Fruits & Veggies,Fresh Vegetables,Trichy,West,826,0.33,346.92,Tamil Nadu
7,OD8,Hafiz,Fruits & Veggies,Fresh Fruits,Ramanadhapuram,West,1847,0.32,147.76,Tamil Nadu
8,OD9,Hafiz,Bakery,Biscuits,Tirunelveli,West,791,0.23,181.93,Tamil Nadu
9,OD10,Krithika,Bakery,Cakes,Chennai,West,1795,0.27,484.65,Tamil Nadu
10,OD11,Ganesh,Snacks,Chocolates,Karur,West,1903,0.13,437.69,Tamil Nadu
11,OD12,Yadav,"Eggs, Meat & Fish",Eggs,Namakkal,West,701,0.10,308.44,Tamil Nadu
12,OD13,Sharon,Snacks,Cookies,Dindigul,South,1659,0.19,315.21,Tamil Nadu
13,OD14,Peer,Fruits & Veggies,Fresh Vegetables,Kanyakumari,West,1277,0.25,63.85,Tamil Nadu
14,OD15,Sundar,"Eggs, Meat & Fish",Chicken,Kanyakumari,Central,831,0.22,207.75,Tamil Nadu
15,OD16,Ramesh,Oil & Masala,Edible Oil & Ghee,Krishnagiri,Central,1440,0.11,100.80,Tamil Nadu
16,OD17,Alan,Bakery,Cakes,Dharmapuri,Central,1678,0.28,318.82,Tamil Nadu
17,OD18,Arutra,Beverages,Health Drinks,Bodi,West,1617,0.19,113.19,Tamil Nadu
18,OD19,Haseena,"Eggs, Meat & Fish",Mutton,Tenkasi,West,1757,0.35,386.54,Tamil Nadu
19,OD20,Verma,Beverages,Soft Drinks,Kanyakumari,West,692,0.29,159.16,Tamil Nadu
20,OD21,Hafiz,Beverages,Health Drinks,Vellore,West,522,0.19,208.80,Tamil Nadu
21,OD22,Alan,Food Grains,Dals & Pulses,Karur,Central,948,0.13,47.40,Tamil Nadu
22,OD23,Haseena,Beverages,Soft Drinks,Krishnagiri,Central,707,0.34,148.47,Tamil Nadu
23,OD24,Alan,Fruits & Veggies,Organic Vegetables,Tenkasi,East,969,0.29,77.52,Tamil Nadu
24,OD25,Sharon,"Eggs, Meat & Fish",Eggs,Ooty,West,1100,0.11,495.00,Tamil Nadu
25,OD26,Krithika,Snacks,Chocolates,Tirunelveli,West,2022,0.11,202.20,Tamil Nadu
26,OD27,Muneer,Snacks,Cookies,Trichy,West,541,0.12,43.28,Tamil Nadu
27,OD28,Jackson,Bakery,Biscuits,Viluppuram,East,979,0.22,401.39,Tamil Nadu

# Operations Using Numpy

In [6]:
order_ids = np.array(df['Order ID'])
sales = np.array(df['Sales'])
profit = np.array(df['Profit'])
city = np.array(df['City'])
discount = np.array(df['Discount'])

# 1)Find the maximum Sales value .

In [7]:
max_sales = np.max(sales)
print("maximum Sales value = ",max_sales)

maximum Sales value =  2360

# 2)Find the count of orders where the Discount is greater than 0.2

In [8]:
sum = np.sum(discount>0.2)
print(sum)

16

# 3)Find the Order ID corresponding to the maximum Profit

In [9]:
max_profit_indx = np.argmax("Profit")
print(order_ids[max_profit_indx])

OD1

# 4)Find how many orders had Sales greater than the average Sales

In [10]:
count= np.sum(sales>np.mean(sales))
print(count)

12

# 5)Find the total Sales for orders where Profit is above the mean Profit

In [11]:
sales_above_mean_profit = sales[profit>np.mean(profit)]
print(np.sum(sales_above_mean_profit))

18312

# 6)Find the number of unique Cities present

In [12]:
city_unique = np.unique(city)
print(len(city_unique))

16

# 7)Sort all Sales in descending order and get the top 10 Sales values.

In [13]:
sorted_sale = np.sort(sales)[::-1]
top10 = sorted_sale[:10]
print(top10)

[2360 2355 2305 2022 1903 1847 1795 1757 1678 1659]

# 8)Find the average Discount

In [14]:
print("Average Discount :", np.mean(discount))

Average Discount : 0.2160714285714286

# 9)Find the number of Orders from the City "Chennai"

In [15]:
orders_chennai = np.sum(city == 'Chennai')
print("Orders from Chennai:", orders_chennai)

Orders from Chennai: 1

# 10) Identify the Order with the Highest Profit Margin

In [16]:
profit_margin = profit / sales
max_margin_indx = np.argmax(profit_margin)
print(profit_margin[max_margin_indx])

0.45

In [1]:
# Operations using Pandas

# 11) Find the total Sales per City

In [17]:
sales_per_city = df.groupby('City')['Sales'].sum()
print(sales_per_city)

City
Bodi              1617
Chennai           1795
Dharmapuri        4879
Dindigul          1659
Kanyakumari       2800
Karur             2851
Krishnagiri       2896
Namakkal           701
Ooty              3455
Perambalur        2360
Ramanadhapuram    1847
Tenkasi           2726
Tirunelveli       2813
Trichy            1367
Vellore           1776
Viluppuram         979
Name: Sales, dtype: int64

# 12) Find the City with the highest total Profit

In [18]:
profit_per_city = df.groupby('City')['Profit'].sum()
city_idx = np.argmax(profit_per_city)
print(city[city_idx])

Tirunelveli

# 13)Find the sum of Profits for each Sub-Category

In [19]:
profit_subcat = df.groupby('Sub Category')["Profit"].sum()
print(profit_subcat)

Sub Category
Atta & Flour           165.20
Biscuits               583.32
Cakes                  803.47
Chicken                207.75
Chocolates             639.89
Cookies                358.49
Dals & Pulses           47.40
Edible Oil & Ghee      100.80
Eggs                   803.44
Fresh Fruits           147.76
Fresh Vegetables       500.37
Health Drinks          471.79
Masalas                401.28
Mutton                 386.54
Organic Staples       1241.15
Organic Vegetables      77.52
Soft Drinks            307.63
Name: Profit, dtype: float64

# 14) Find customers who got more than 500 profit.

In [20]:
high_profit_cust = df[df['Profit'] > 500]['Customer Name'].unique()
print(high_profit_cust)

['Ridhesh']

# 15) Find sub_category with highest average sales

In [21]:
highavg_sales_sub = (df.groupby('Sub Category')['Sales'].mean()).idxmax()
print(highavg_sales_sub)

Atta & Flour

# 16). Find the total profit for each region.

In [22]:
total_profit_region = df.groupby('Region')['Profit'].sum()
print(total_profit_region)

Region
Central     823.24
East        478.91
North       401.28
South      1473.06
West       4067.31
Name: Profit, dtype: float64

# 17)Find total sales and total profit for each customer

In [23]:
per_customer = df.groupby('Customer Name')[['Sales', 'Profit']].sum()
print(per_customer)

               Sales  Profit
Customer Name
Adavan          2305  322.70
Alan            3595  443.74
Arutra          1617  113.19
Ganesh          1903  437.69
Hafiz           3160  538.49
Harish          1254  401.28
Haseena         2464  535.01
Hussain         2360  165.20
Jackson         1875  490.99
Jonas            826  346.92
Krithika        3817  686.85
Muneer           541   43.28
Peer            1277   63.85
Ramesh          1440  100.80
Ridhesh         2355  918.45
Sharon          2759  810.21
Sudha            749  149.80
Sundar           831  207.75
Verma            692  159.16
Yadav            701  308.44

# 18)Find total discount given in each city.

In [24]:
total_discount_city = df.groupby('City')['Discount'].sum()
print(total_discount_city)

City
Bodi              0.19
Chennai           0.27
Dharmapuri        0.79
Dindigul          0.19
Kanyakumari       0.76
Karur             0.26
Krishnagiri       0.63
Namakkal          0.10
Ooty              0.37
Perambalur        0.21
Ramanadhapuram    0.32
Tenkasi           0.64
Tirunelveli       0.34
Trichy            0.45
Vellore           0.31
Viluppuram        0.22
Name: Discount, dtype: float64

# 19)Find the customer who placed orders from the city Chennai.

In [29]:
chennai_customers = df[df['City'] == 'Chennai']['Customer Name'].unique()
print(chennai_customers)

['Krithika']

# 20)List all regions where total sales are more than 3000

In [31]:
regions_sales = df.groupby('Region')['Sales'].sum()
print(regions_sales[regions_sales > 3000])

Region
Central     5604
South       5659
West       22056
Name: Sales, dtype: int64